
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.form-container {
  display:flex;
  justify-content: center;
  width: 100vw;
  padding: 50px;
}

.form__input, .form button {
  height:30px;
  margin: 5px;
  padding:5px;
}

.form button {
 border:none;
}

.todo-list {
  display:flex;
  flex-direction:column;
  align-content: left;
  align-items:center;
  justify-content: center;
  list-style:none;
  margin-left: -60px;
}

.todo-list li {
  width: 250px;
  padding: 10px;
}

.todo-list li p {
  pointer-events: none;
  word-wrap: break-word;
  width:200px;
}

.todo-list li:hover {
  background: rgb(204, 204, 204);
}

.todo{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.todo-done{
  order:1;
  background: rgb(143, 195, 255);
  
}

.todo-done p {
  text-decoration: line-through;
}

.delete-todo {
  height:35px;
  width:35px;
  cursor:pointer;
  margin-left: 10px;
  text-decoration:none;
  border: none;
}

.delete-todo:hover {
  background:tomato;
}

.toggle-done {
  height:35px;
  width:60px;
  cursor:pointer;  
  border: none;
}

.toggle-done:hover {
  background: rgb(143, 195, 255);
}

.delete-todo:focus, .toggle-done:focus, .form-button:focus {
outline:none;
}

.list-buttons {
  display:flex;
  margin-right:-120px;
}

